
on:
  push:
    branches:
      - master
name: Build Angular 
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v1

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install
        run:  npm i
      - name: ng install
        run:  npm install -g @angular/cli@14.2.11
      - name: ng Build.
        run:  ng build --base-href https://webmancodeit.github.io/gitaction1/ --deploy-url https://webmancodeit.github.io/gitaction1/
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: ./dist/gitaction1/
          publish_branch: gh-pages
          force_orphan: true
  copy-and-zip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: gh-pages # replace with the name of the branch you want to copy and zip  files from
      - name: Copy files
        run: |
          mkdir copied_files
          cp -r ./* copied_files/
      - name: Zip files
        run: |
          zip -r copied_files.zip copied_files/*
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: copied-files
          path: copied_files.zip
      - name: Download zip file
        uses: actions/download-artifact@v2
        with:
          name: copied_files # replace with the name of your zip file artifact
      - name: Set Content-Disposition header
        run: |
          echo "::set-output name=headers::Content-Disposition: attachment; filename=copied_files.zip"
      - name: Upload headers as artifact
        uses: actions/upload-artifact@v2
        with:
          name: headers
          path: ./copied_files.zip
      - name: Download zip file with headers
        run: |
          curl -L -o copied_files.zip --header "$(cat copied_files.zip)"
      
      
          
      